
.bLeft{
    /*TODO how to use this without important?*/
    border-left-width: 1px!important;
}
.bbLeft{
    border-left-width: 3px!important;
}
.bTop{
    /*TODO how to use this without important?*/
    border-top-width: 1px!important;
}
.bbTop{
    border-top-width: 3px!important;
}
.gridCell{
    width:60px;
    height: 60px;
    /*background-color: #ceeaf1;*/
    float: left;
    border-color: darkblue;
    border-style: solid;
    border-width: 0px;
    font-weight: bolder;
    font-size: 30pt;
}
.clear {
    clear: both;
}
.selectedCell{
    background-color: lightgreen;
}
.gridCellValue{
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
}
.gridCellCandidate {
    width:20px;
    height: 20px;
    float: left;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
    /*opacity: 0;*/
}

.hint {
    box-shadow: #e30c0c 0px 0px 0px 1px inset;
    /*border-style: solid;*/
    border-radius: 50%;
}
.eliminate {
    box-shadow: #1033c2 0px 0px 0px 1px inset;
    border-radius: 50%;
}