/*.App {*/
/*  text-align: center;*/
/*}*/

.boardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.board {
  float: left;
  box-sizing:content-box;
  border-color: darkblue;
  border-style: solid;
  border-width: 3px;
}

.clear {
  clear: both;
}